<!-- Reaction Modal -->
<% if current_user %>
  <div class="modal fade reaction-modal" id="reactionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Why should others watch this video?</h3>
        </div>

        <%= form_tag("/reactions/#{@video.id.to_s}/create", method: "post") do %>

        <div class="modal-body">









            <div class="field">
              <%= hidden_field_tag(:rating, :value => 1) %>
            </div>


            <div class="field">
              <!-- <%= text_field_tag(:why_watch, class: "form-control") %> -->
              <textarea class="form-control" rows="3" name="reaction[why_watch]" placeholder="e.g. To learn about mitochondria."></textarea>
            </div>


            <div class="actions">


            </div>



        </div>

        <div class="modal-footer">

          <%= submit_tag("Recommend", :id=>"reaction-button", :class=>"qush-button", :type=>"button" ) %>
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->

        </div>

       <% end %>

      </div>
    </div>
  </div>
<% end%>
