/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap/theme';

h1, h2, h3, h4 {
  font-family: 'Roboto', serif;
}

body, p {
  font-family: 'Roboto', serif;
}



 .logo-header {
   max-width: 150px;
   padding: 10px;
 }

 .user-name {
    padding: 15px;
 }

 .fb-login{
   margin: 20px auto;
   display: block;
 }

 .fb-login img {
     max-width: 165px;
 }

 .navbar {
   padding: 0px 30px;
 }

 .navbar ul li img {
   border-radius: 50%;
 }

 .dropdown #dLabel{
   padding:0px;
   width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;

 }

 .dropdown .user-profile-pic:hover, .user-profile-pic:active {
   background-image: none;
   border-color: #47457e;
   border-width: 1px;
   border-style: solid;

 }


 .centerDropdown {
    left: auto !important;
    right: -25% !important;
}
 .centerDropdown:after {
   left: auto !important;
   right: 45% !important;
}

 .button-disable {
   pointer-events: none;
 }

  .center-nav-content {
        text-align: center;
  }

  .nav-action-buttons {
    margin: 10px;
    padding: 7px;
    background-color: #47457e;
    color: white;
    border-radius: 47%;
    position: absolute;

}








// Action buttons on header

.nav-actions i.material-icons {
		font-size: 1.7rem;
		color: white;
		position: relative;
		border-radius: 50%;
		padding: 5px;
		margin: 10px 5px;
    background-color: #8897b9;

    transition: all .2s ease-in-out;


}

.reactions-container i.material-icons {
		font-size: 2.5rem;
		color: #8897b9;
		position: relative;
		border-radius: 50%;
		padding: 5px;
		margin: 10px 5px;
    transition: all .2s ease-in-out;


}




// i.material-icons:nth-of-type(1) {
// 		background-color: #8897b9;
// }
//

// i.material-icons:nth-of-type(2) {
// 		background-color: #af88b9;
// }
//
//
// i.material-icons:nth-of-type(3) {
// 		background-color: #d59acb;
// }












i.material-icons:hover {
    transform: scale(1.1);
		// transform: rotate(360deg);
		cursor: pointer;
		box-shadow: none;

}
