

body {
   background-color: #000000;
   padding: 0px;
   margin: 0px;

}

#gradient2 {
  width: 100%;
  min-height: 100vh;

  padding: 0px;
  margin: 0px;
}


.fb-login{
  margin: 30px auto;

}

.fb-login img {
    max-width: 185px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container .qush-login-logo{
  max-width: 45%;
  margin: 150px 10 80px 10;
}



.login-container h1 {
  color: white;
  margin-bottom: 50px;
  text-align: center;
  margin: 0 10px 50px 10px;
  font-weight: 300;
}


#gradient2{
  background: linear-gradient(275deg, #8896d7, #8cd9ba, #7d4bc3, #4766c2, #cc6679);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 52s ease infinite;
  -moz-animation: AnimationName 52s ease infinite;
  animation: AnimationName 52s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
