// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user-profile-main-pic {
  border-radius: 50%;
  max-height: 150px;
}
.video-thumbnail {
  max-width: 200px;
  display: inline;
}

.video-thumbnail-info {
  display: inline;
}

.video-thumbnail-name {

}


.thumbnail-list-item {
  margin: 10px 0;
}


.thumbnail-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
