// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.video-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.video-title-container h2{
  text-align: center;
}

.video-name {
  font-size: 26px;
  margin-bottom: 20px;
}


.video-categories-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;

}

.video-categories-list li {
    display: inline-block;
    margin-right: 0.2rem;
}

.video-categories {
  padding: 0.3rem 1rem;
  // border: 1px solid #dd5c64;
  border-radius: 1rem;
  font-size: 1rem;
  background: #dd5c64;
  color: #fff;
}

.video-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;

}
.video-main {
  width: 640px;
  height: 360px;

}

.reactions-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.recommendations-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.recommendation-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width: 500px;
  margin: 0px 20px;
}

.video-reaction-components {
  display: inline;
}



.reaction a p {
  color: #47457e
}

.reaction a:hover {
  text-decoration: none;
}

.user-reaction-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline;
}

.reaction {
  margin: 10px 0;
}

.reaction p{
  display: inline;
}

#reaction-thumb-down {
  color: #D17583;
  font-size: 15px;
}

#reaction-thumb-up {
  color: #98DD9B;
  font-size: 15px;
}

.reaction-why-textfield {
  width: 100%;
  padding: 15px;

}


.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 15px
}

.add-container h1 {
text-align: center;

}

.add-container form{
text-align: center;
}

.add-container .caveat{
max-width: 600px;
margin: 5px 0 25px 0;

text-align: center;
}

.add-container .add-input {
border: solid 2px #8897b9;
height: 35px;
border-radius: 5px;
width: 45%;
margin-bottom: 25px;
padding-left: 10px;
}

.add-container .add-input:focus {
outline-color: #8897b9;

}

.add-container .new-video-link-input {
  margin: 0 15px;
}

.add-container .qush-button {
  margin: 20px 10px;

}

.qush-favorite-icon {
  max-width: 20px
}

.reactions-container i.reaction-icons {
		font-size: 2.5rem;

		position: relative;
		padding: 5px 5px;
    transition: all .2s ease-in-out;
    margin: 0 5px 0 0;
    padding: 0;

}

.reactions-container a {
  text-decoration: none;
}



.rating-count {
  // background-color: #47457e;

  padding: 1px 4px;
  border-radius: 50%

}


.qush-button-reaction-liked {
  background-color: #47457e;
  border-color: #47457e;
  color: white;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-width: 2px;
  margin: 20px 15px;
  border-radius: 3px;
  // padding: 5px 10px;
}

.qush-button-reaction-liked:hover {
  background-color: white;
  border-color: #47457e;
  color: #47457e;
}

.qush-button-reaction {
  background-color: white;
  border-color: #47457e;
  color: #47457e;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-width: 2px;
  margin: 20px 15px;
  border-radius: 5px;
  // padding: 5px 10px;
}

.qush-button-reaction:hover {
  background-color: #47457e;
  border-color: #47457e;
  color: white;

}

.facebook-share-button {
  float: right;
}






@media only screen and (max-width:769px){
// body::before{ content: "Media query (width < 700px) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9);
//  position: absolute; top: 0; left: 0; right: 0; z-index: 99;}

  .video-main {

    width: inherit;
    height: inherit;
  }

  .navbar-mobile-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  }



}
